#this-is-strikers {
    padding: 50px 50px; // Padding at the top and bottom

    .has-text-centered {
        margin: 0 auto; // Center the text block
        text-align: center;
        h2 {
            color: blue; // Dark grey color
            font-size: 2.5em; // Larger font size
            margin-bottom: 20px; // Space below the title
        }

        p {
            color: blue; // Medium grey color
            font-size: 1.2em; // Slightly larger font size
            line-height: 1.6; // More space between lines
        }
    }
}