<section id="this-is-strikers" class="learn-more section mx-0 px-0">
    <div class="container is-fullhd has-text-centered px-2">
        <h2 class="section-title has-text-weight-bold my-0 is-size-4-mobile is-size-2-tablet is-size-1-desktop has-text-dark"
            style="color: rgb(48, 127, 226) !important; --darkreader-inline-color: #4198e4;"
            data-darkreader-inline-color="">
            THIS IS ROCKET LEAGUE!</h2>
        <p class="section-copy is-size-6-mobile is-size-5-tablet is-size-4-desktop is-size-3-widescreen has-text-dark"
            style="color: rgb(48, 127, 226) !important; --darkreader-inline-color: #4198e4;"
            data-darkreader-inline-color="">
            Welcome to the high-powered hybrid of arcade-style soccer and vehicular mayhem!

            Customize your car, hit the field, and compete in one of the most critically acclaimed sports games of all
            time!
        </p>
    </div>
</section>