.support-page {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    margin-bottom: 20px;
}

.faqs {
    text-align: left;

    // margin: 0 auto;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    // border: 1px solid #ccc;
    // border-radius: 5px;
    // box-shadow: 0 0 10px #ccc;
}

.contact {
    text-align: left;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}