<div class="support-page">
    <h1>Support</h1>

    <mat-card class="faqs">
        <mat-card-title>Frequently Asked Questions</mat-card-title>

        <mat-card-subtitle>How do I get started?</mat-card-subtitle>
        <mat-card-content>First, you need to download the game. Then, you can start playing.</mat-card-content>

        <mat-card-subtitle>How do I create a game?</mat-card-subtitle>
        <mat-card-content>Once you entered the game, you can create a game by clicking the "Create Game" button on the
            top left of the screen.</mat-card-content>

        <mat-card-subtitle>How do I join a game?</mat-card-subtitle>
        <mat-card-content>Once you entered the game, you can join a game by entering the game code in the "Join Game"
            field on the top left of the screen.</mat-card-content>
    </mat-card>

    <mat-card class="contact">
        <h2>Contact Us</h2>
        <p>For any other questions, please contact us at <a
                href="mailto:murarashuvlad@gmail.com">murarashuvlad&#64;gmail.com</a></p>
    </mat-card>
</div>