<div class="video-container">
    <video id="background-video" preload="auto" autoplay loop [muted]="true" playsinline>
        <source src="assets\Trailer.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <section class="overlay is-fullheight">
        <div class="overlay-body">
            <header>
                <h1 class="mat-display-1 mat-primary">Season 0</h1>
                <p class="mat-body-1 mat-accent">A new era begins</p>
            </header>
            <div class="overlay-buttons">
                <a routerLink="/news" mat-raised-button color="primary">LEARN MORE</a>
                <a href="https://youtu.be/HX1u73kJVyE" mat-raised-button color="accent" target="_blank"
                    rel="noopener noreferrer">WATCH TRAILER</a>
            </div>
        </div>
    </section>
</div>