.video-container {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

#background-video {
    position: absolute;
    overflow: visible;
    max-width: 1000%;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    object-fit: cover;
}

.overlay {
    position: relative;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.is-fullheight {
    min-height: 100vh;
}

.overlay-body {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
    max-width: 37.5%;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
}

.mat-display-1,
.mat-body-1 {
    color: white;
}

.overlay-buttons a {
    margin: 10px;
}