<app-strikers-navigation>
  <main class="main">
    <div class="content">
      <app-homepage></app-homepage>

      <div class="news-titles">
        <app-news-card [link]="'https://example.com/news1'" [image]="'assets/news1.jpg'" [text]="'News 1 description'">
        </app-news-card>
        <app-news-card [link]="'https://example.com/news2'" [image]="'assets/news2.jpg'" [text]="'News 2 description'">
        </app-news-card>
        <app-news-card [link]="'https://example.com/news3'" [image]="'assets/news3.jpg'" [text]="'News 3 description'">
        </app-news-card>
      </div>
      
      <app-this-is-strikers></app-this-is-strikers>
    </div>
  </main>
</app-strikers-navigation>

<router-outlet></router-outlet>