<div class="news-titles">
    <app-news-card [link]="'https://example.com/news1'" [image]="'assets/news1.png'" [text]="'Season 0 begins'" />
    <app-news-card [link]="'https://example.com/news2'" [image]="'assets/news2.png'"
        [text]="'Tournaments just started'" />
    <app-news-card [link]="'https://example.com/news3'" [image]="'assets/news3.png'" [text]="'Free gifts await you'" />
    <app-news-card [link]="'https://example.com/news1'" [image]="'assets/news1.png'" [text]="'Winter is coming'" />
    <app-news-card [link]="'https://example.com/news2'" [image]="'assets/news2.png'" [text]="'New beginnings'" />
    <app-news-card [link]="'https://example.com/news3'" [image]="'assets/news3.png'"
        [text]="'New AI bots, new challenges'" />
    <app-news-card [link]="'https://example.com/news1'" [image]="'assets/news1.png'"
        [text]="'Basketball coming to Strikers'" />
    <app-news-card [link]="'https://example.com/news2'" [image]="'assets/news2.png'"
        [text]="'New Strikers merchandise'" />
    <app-news-card [link]="'https://example.com/news3'" [image]="'assets/news3.png'"
        [text]="'Golden cosmetics coming to Strikers'" />
    <app-news-card [link]="'https://example.com/news1'" [image]="'assets/news1.png'"
        [text]="'New European maps coming to Strikers'" />
    <app-news-card [link]="'https://example.com/news2'" [image]="'assets/news2.png'"
        [text]="'Strikers Esports League now live on Twitch'" />
    <app-news-card [link]="'https://example.com/news3'" [image]="'assets/news3.png'" [text]="'Patch 1.0.1 now live'" />
</div>