<app-homepage></app-homepage>

<div class="news-titles">
    <app-news-card [link]="'https://example.com/news1'" [image]="'assets/news1.png'" [text]="'Season 0 begins'">
    </app-news-card>
    <app-news-card [link]="'https://example.com/news2'" [image]="'assets/news2.png'"
        [text]="'Tournaments just started'">
    </app-news-card>
    <app-news-card [link]="'https://example.com/news3'" [image]="'assets/news3.png'" [text]="'Free gifts await you'">
    </app-news-card>
</div>

<app-this-is-strikers></app-this-is-strikers>